
#inputBox {
	margin: 80px 0;
}

#outputBoxes textarea {
	margin: 0 20px -70px 10px;
}

#jwtBtns {
	margin-top: 150px;
}

#jwtBtns button {
	margin: 0 10px;
	border: 0;
	background-color: #282c34;
	color: white;
	border-radius: 6px;
	width: 100px;
	height: 40px;
	cursor: pointer;
}